<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GoMain</servlet-name>
  	<display-name>GoMain</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.GoMain</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterService</servlet-name>
  	<display-name>RegisterService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.RegisterService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckUser</servlet-name>
  	<display-name>CheckUser</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CheckUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckBrand</servlet-name>
  	<display-name>CheckBrand</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CheckBrand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OneBrand</servlet-name>
  	<display-name>OneBrand</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OneBrand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManyBrand</servlet-name>
  	<display-name>ManyBrand</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ManyBrand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PWFix</servlet-name>
  	<display-name>PWFix</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PWFix</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NickFix</servlet-name>
  	<display-name>NickFix</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.NickFix</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Review</servlet-name>
  	<display-name>Review</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.Review</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GoMypage</servlet-name>
  	<display-name>GoMypage</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.GoMypage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManyMenu</servlet-name>
  	<display-name>ManyMenu</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ManyMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OneMenu</servlet-name>
  	<display-name>OneMenu</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OneMenu</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoMain</servlet-name>
  	<url-pattern>/goMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckUser</servlet-name>
  	<url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckBrand</servlet-name>
  	<url-pattern>/CheckBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OneBrand</servlet-name>
  	<url-pattern>/OneBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManyBrand</servlet-name>
  	<url-pattern>/ManyBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PWFix</servlet-name>
  	<url-pattern>/PWFix</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NickFix</servlet-name>
  	<url-pattern>/NickFix</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Review</servlet-name>
  	<url-pattern>/review</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GoMypage</servlet-name>
  	<url-pattern>/GoMypage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManyMenu</servlet-name>
  	<url-pattern>/ManyMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OneMenu</servlet-name>
  	<url-pattern>/OneMenu</url-pattern>
  </servlet-mapping>
</web-app>
