@charset "UTF-8";

body {
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
}

/* 왼쪽 고정 네비게이션 바 스타일 */
.left-navbar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #333;
	color: white;
	width: 200px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	z-index: 30;
}

.left-navbar-logo {
	max-width: 150px;
	/* 로고 이미지의 최대 너비 설정 */
	margin-top: 30px;
}

.blank {
	height: 20px;
}

.hrhr {
	width: 100%;
	color: white;
	margin-bottom: 40px;
}

.left-navbar-menu-logo {
	padding: 10px;
	font-size: 20px;
}

.left-navbar a {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}

.left-navbar a:hover {
	background-color: #757575;
}

.left-navbar a i {
	margin-right: 10px;
}

/* 네비게이션 바 스타일 */
nav.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFA500;
	padding: 10px 20px;
	margin-left: 220px;
	height: 150px;
}

.navbar-logo {
	max-width: 150px;
	/* 로고 이미지의 최대 너비 설정 */
}

.navbar-logo img {
	height: auto;
	max-width: 100%;
	display: block;
}

/* 로그인 및 검색 부분 스타일 */
.login-search {
	display: flex;
	align-items: center;
}

.sr-input {
	background-color: transparent;
	border-radius: 50px;

	&:hover,
	&:focus {
		padding: 12px 0;
		outline: 0;
		border: 1px solid transparent;
		border-bottom: 1px solid #575756;
		border-radius: 0;
		background-position: 100% center;
	}
}

.sr-input-btn {
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.sr-input-btn:hover {
	animation: jittery 4s infinite;
}

.testtest {
	display: block;
}

.login-input {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	/* 아이디와 비밀번호를 위아래로 나열하도록 설정 */
}

.login-input input {
	margin-bottom: 10px;
	/* 입력 필드 간 간격을 추가하여 위아래로 나열되도록 조정 */
}


.login-button {
	background-color: #333;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.Logout-Container {
	flex-direction: column;

}

.Logout-Btn {
	background-color: #F27405;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

/* 비활성 마이페이지 내용 */

.non-LogIn {
	display: flex;
	justify-content: center;
	margin-left: 250px;
	margin-top: 50px;
}

.wrapper {
	width: 500px;
	height: 500px;
}

.title {
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
	width: 95%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.error {
	color: red;
	font-size: 12px;
	margin-top: 5px;
	display: none;
}

.logInButton-Container {
	height: 50px;
}

#logInButton {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}


/* 광고 넣기*/

.Slidesbackground {
	margin: 0;
	padding: 0;

}

.slideshow-image {
	border-radius: 3%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mySlides {
	border-radius: 3%;
	width: 500px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.slideshow-container {
	display: flex;
	justify-content: center;
	position: relative;
	margin: auto;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

/* 활성 마이페이지 */

.MP-LogIn-Container {
	width: 90%;
	height: 800px;
	padding-left: 250px;
	padding-top: 50px;

}

.MP-LogIn-Frame {
	width: 92%;
	height: 800px;
	display: flex;
}

.Profile-Complex {
	width: 60%;
	height: 100%;
	flex-direction: column;
}

.Profile-Complex,
.Profile-Summary {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #9E9E9E;
	margin-left: 5%;
	margin-right: 5%;
}

.Complex-Header {
	width: 100%;
	height: 10%;
	align-items: center;
	display: flex;
}

.Complex-Header-Text {
	width: 70%;
	padding-left: 30px;
}

.Complex-ID div {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
}

.Complex-ID-Container,
.Complex-PW-Container,
.Complex-Nick-Container {
	width: 60%;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0px gray;
	padding: 10px;
	margin-left: 20px;
}

.Fix-Frame {
	display: flex;
}

.Fix-Frame button {
	width: 40%;
}

.Fix-Container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Fix-Container div {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.Fix-Container input {
	font-size: 15px;
	color: #222222;
	width: 300px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding-bottom: 10px;
	position: relative;
	background: none;
	z-index: 5;
}

.Fix-Container input::placeholder {
	color: #aaaaaa;
}

.Fix-Container input:focus {
	outline: none;
}

.Fix-Container span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0%;
	/* right로만 바꿔주면 오 - 왼 */
	background-color: #666;
	width: 0;
	height: 2px;
	border-radius: 2px;
	transition: 0.5s;
}

.Fix-Container label {
	position: absolute;
	color: #aaa;
	left: 20px;
	font-size: 20px;
	bottom: 8px;
	transition: all .2s;
}

.Fix-Container input:focus~label,
.Fix-Container input:valid~label {
	font-size: 16px;
	bottom: 40px;
	color: #666;
	font-weight: bold;
}

.Fix-Container input:focus~span,
.Fix-Container input:valid~span {
	width: 80%;
}

/* 비밀번호 수정 버튼 */
.Fix-PW-Btn button {
	display: block;
	position: relative;
	float: left;
	width: 140px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
	border: none;
}

.PW-BtnFloat {
	background: none;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.PW-BtnFloat:before {
	content: '바꾸기';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 30px;
	border-radius: 5px;
	transition: all 0.2s;
}

.PW-BtnFloat:before {
	background-color: #FFAA40;
}

.PW-BtnFloat:before {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.PW-BtnFloat:hover:before {
	margin-top: -2px;
	margin-left: 0px;
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

/* 닉네임 수정 버튼 */
.Fix-Nick-Btn button {
	display: block;
	position: relative;
	float: left;
	width: 140px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
	border: none;
}

.Nick-BtnFloat {
	background: none;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.Nick-BtnFloat:before {
	content: '바꾸기';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 30px;
	border-radius: 5px;
	transition: all 0.2s;
}

.Nick-BtnFloat:before {
	background-color: #FFAA40;
}

.Nick-BtnFloat:before {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.Nick-BtnFloat:hover:before {
	margin-top: -2px;
	margin-left: 0px;
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.Profile-Summary {
	width: 30%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Profile-Image {}

.Profile-Summary-Text {
	width: 100%;
	display: flex;
}


@keyframes jittery {

	5%,
	50% {
		transform: scale(1);
	}

	10% {
		transform: scale(0.9);
	}

	15% {
		transform: scale(1.15);
	}

	20% {
		transform: scale(1.15) rotate(-5deg);
	}

	25% {
		transform: scale(1.15) rotate(5deg);
	}

	30% {
		transform: scale(1.15) rotate(-3deg);
	}

	35% {
		transform: scale(1.15) rotate(2deg);
	}

	40% {
		transform: scale(1.15) rotate(0);
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}