<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.UserMapper">

	<!-- 로그인을 위한 sql문장 -->
	<select id="login" parameterType="com.smhrd.model.t_user" resultType="com.smhrd.model.t_user">
		select * from t_user where id = #{id} and pw = #{pw}
	</select>

	<insert id="join" parameterType="com.smhrd.model.t_user">
		insert into t_user values(#{id}, #{pw}, #{nick} ,NOW())
	</insert>

	<select id="check" parameterType="string" resultType="com.smhrd.model.t_user">
		select * from t_user where id = #{id}
	</select>
	
	<update id="pwchange" parameterType="com.smhrd.model.t_user">
		update t_user set pw = #{pw} where id = #{id}
	</update>
	
	<update id="nickchange" parameterType="com.smhrd.model.t_user">
		update t_user set nick = #{nick} where id = #{id}
	</update>

	<insert id="reviewinsert" parameterType="com.smhrd.model.Review_Table">
		insert into t_review values(null, #{id}, #{menu_num}, #{review_content})
	</insert>
	
	<delete id="reviewdelete" parameterType="com.smhrd.model.t_user">
		delete from t_review where id = #{id}
	</delete>
	
	<select id="findreview" parameterType="com.smhrd.model.t_user" resultType="com.smhrd.model.Review_Table">
		select * from t_review where id = #{id}
	</select>
	
	<select id="allreview" resultType="com.smhrd.model.Review_Table">
		select * from t_review;
	</select>
</mapper>